/******  Style Guide  ******/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #121127;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.5s ease;
    margin-left: 0;
    margin-right: 0;
    >.wp-site-blocks{
        overflow: hidden;
    }
}

a{
    text-decoration: none!important;
    &:hover{
        text-decoration: none!important;
    }
}
h1 {
    font-size: 34px;
    line-height: 1.2em;
    color: #121127;
    @media (min-width: 991px) {
        font-size: 52px;
    }
}

h2 {
    font-size: 30px;
    line-height: 1.2em;
    color: #121127;
    @media (min-width: 991px) {
        font-size: 42px;
    }
}

h3 {
    font-size: 26px;
    line-height: 1.2em;
    color: #121127;
    @media (min-width: 991px) {
        font-size: 36px;
    }
}

h4 {
    font-size: 20px;
    line-height: 1.2em;
    color: #121127;
    @media (min-width: 991px) {
        font-size: 28px;
    }
}

h5 {
    font-size: 16px;
    line-height: 1.2em;
    color: #121127;
    @media (min-width: 991px) {
        font-size: 20px;
    }
}

h6 {
    font-size: 14px;
    line-height: 1.2em;
    color: #121127;
    @media (min-width: 991px) {
        font-size: 16px;
    }
}
.single {
    h1, h2 ,h3 ,h4, h5, h6{
        margin-bottom: 16px;
        margin-top: 32px;
    }
    h1 {
        font-size: 34px!important;
        line-height: 1.2em;
        @media (min-width: 991px) {
            font-size: 52px!important;
        }
    }
    img{
        margin-top: 16px;
    }
}
.single-post{
    h1{
        font-size: 30pt;
    }
    h2{
        font-size: 26pt;
    }
    h3{
        font-size: 22pt;
    }
    h4{
        font-size: 18pt;
    }
    h5{
        font-size: 16pt;
    }
    h6{
        font-size: 15pt;
    }
}
input,
textarea,
select {
    outline: none;
}

p {
    margin: 16px 0;
    font-size: 16px;
    line-height: 1.6em;
}

body
  .is-layout-constrained
  > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: initial;
  margin-left: auto !important;
  margin-right: auto !important;
}

.container-default {
    max-width: 1268px!important;
    padding-right: 24px;
    padding-left: 24px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 991px) {
        max-width: 728px!important;
    }

    @media (max-width: 479px) {
        padding-right: 16px;
        padding-left: 16px;
    }
}

body .is-layout-constrained > * + * {
    margin-block-start: 0;
    margin-block-end: 0;
}
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){
    margin-left: 0;
    margin-right: 0;
}
body .wp-site-blocks > * + * {
    margin-block-start: 0;
}
.btn-primary{
    a{
        padding: 18px 24px 17px;
        font-size: 16px!important;
        line-height: 1.125em;
        font-weight: 500;
        border-radius: 14px!important;
        background-color: #ff554a!important;
    }
    transition: background-color 300ms ease, transform 300ms ease, color 300ms ease, -webkit-transform 300ms ease;
    &:hover{
        transform: translate(0px, -3px);
         color: #fff;
    }
}
.btn-secondary{
    a{
        padding: 0;
        font-size: 16px!important;
        line-height: 1.125em;
        font-weight: 500;
        border-radius: 14px!important;
        background-color: transparent!important;
        color: #0f0f0f!important;
        &::after {
            content: '\ea3c';
            font-family: "vanquyen" !important;
            font-weight: normal;
            font-style: normal;
            margin-left: 10px;
            font-display: block;
        }
    }
    transition: background-color 300ms ease, transform 300ms ease, color 300ms ease, -webkit-transform 300ms ease;
    &:hover{
       a{
            color: #ff554a!important;
        } 
        &::after{
            transform: translateX(10px);
        }

    } 
}
.heading-section{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 672px!important;
    margin-bottom: 48px!important;
    .subtitle-section{
        margin-bottom: 16px;
        color: #ff554a;
        line-height: 1.111em;
        font-weight: 500;
    }
    .title-section{
        margin-top: 0px;
        margin-bottom: 16px;
        color: #0f0f0f;
        font-size: 42px;
        line-height: 1.333em;
        font-weight: 700;
    }
}